{% extends "base.html" %}

{% block content %}
{% if messages %}
{% for message in messages %}
    {% if message.tags == "error" %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}
{% endfor %}
{% endif %}

<div class="row">
    <div class="col-6 mx-auto">
        <br>
        <h4>Account Login</h4>
        <form action=" " method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login">
        </form>
        <a class="nav-link" href='{% url "resetp"%}'>Forgot password?</a>
        <br>
    </div>
</div>



{% endblock %}